#header {
	overflow: hidden;
	color: #337ab7;
	text-align: center;
	text-decoration: underline;
}

#body_section {
	position: relative;
	bottom: 5.5em;
}


#sBar {
	width: 15em;
	border-color: #337ab7;

}

#button0 {
	text-align: center;
	background-color: #337ab7;
	color: white;
	border-radius: 1em;
	width: 8em;
	height: 2em;

}

#button1 {
	text-align: center;
	background-color: #337ab7;
	color: white;
	border-radius: 1em;
	width: 12em;
	height: 2em;
}

#inputSecton {
	position: relative;
	top: 6em;
	text-align: center;
	
}

#button0 {
	margin-bottom: 0.5em;
}

#outputSection {

text-align: center;
position: relative;
list-style-type: none;
top: 6em;
right: 1.5em;

} 

footer {
	overflow: hidden;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;	
    color: #337ab7;
}
